[flake8]
max-line-length = 88
extend-ignore =
    E203,   # Ignore for Black
    ANN101, # Ignore missing type annotation for self in method
    ANN102  # Ignore missing type annotation for cls in classmethod
